extends layout

block content
  section
      .services-offer
        h3.section-title
          span Ce que nous offrons 
        .row
          // Start Service Icon 1
          .col-md-6.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs 
                i.glyphicon.glyphicon-tasks 
                  a.about-offre Stratégies
              p
                | L'offre Stratégie a pour but d’accompagner les décideurs dans leur plan de transformation.
                | Comprendre les enjeux des DSI, Directions métiers mais également Codir, Comex et Directions générales,
                | nous permet d’être au plus près de nos clients et de répondre aux mieux à l’évolution de leur SI.
          // End Service Icon 1
          // Start Service Icon 2
          .col-md-6.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs 
                i.glyphicon.glyphicon-dashboard 
                  a.about-offre Décisionnel
              p
                | L'Offre de Services Business Intelligence a pour objectif d’accompagner nos clients dans la mise en œuvre de solutions décisionnelles à fortes valeurs ajoutées
                | centrées sur leurs richesses : leurs données métiers :
                | Qualification de données
                | Consolidation
                | Centralisation
                | Expansion
                | Analyse
                | Présentation
                | Diffusion
                | Comprendre les enjeux des Directions générales, DAF, DSI, Directions métiers mais également des équipes opérationnelles, nous permet d’être au plus près de nos clients et de répondre à leurs besoins en leur fournissant de meilleurs outils d’analyse de leurs activités.
                | L’offre s’articule autour de 3 axes en corrélation avec une maturité décisionnelle inhérente à la mise en œuvre de telles solutions
                | .
          // End Service Icon 2
          // Start Service Icon 3
          .col-md-6.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs 
                service-icon 
                  i.glyphicon.glyphicon-globe 
                    a.about-offre Applications d'entreprises
              p
                | L'offre Applications d'entreprise vous accompagne dans le développement d'applications répondant à vos enjeux métiers.
                | Avec cette offre, nous souhaitons vous apporter des applications plus efficaces, tout en proposant de nouveaux usages en entreprise.
                | YESSA TECHNOLOGIES met au service de vos projets son expertise sur le développement .Net allié à une bonne compréhension de votre métier et une méthodologie projet éprouvée.
                | Nous associons ces atouts également aux usages innovant portés par nos offres Stratégie et expérience digitale.
                | .
          // End Service Icon 3
          // Start Service Icon 4
          .col-md-6.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs 
                i.glyphicon.glyphicon-folder-open 
                  a.about-offre Portail et collaboration
              p
                | L'offre Portail et Collaboration a pour but d’accompagner nos clients dans leurs projets autour des technologies portail et collaboration tels que SharePoint.
                | Comprendre les enjeux et besoin des DSI, Directions métiers et Directions générales.