extend layout
 
block content
    section.featured
        .content-wrapper
          hgroup.title
        
        section.slider
          .flexslider
            ul.slides
              li
                img(src='./images/media.jpg')
                .flex-caption
                  h3 Social et Web média
                  p
                    |Le monde est devenu un vaste réseau. Soyez mobile!
                  a(href='./product') Voir+
              li
                img(src='./images/travail.jpg')
                .flex-caption
                  h3 Travailler en équipe
                  p
                    |Avec des outils de productivité et de mobilité
                  a(href='/product') Voir+
              li
                img(src='./images/multiplatform.jpg')
                .flex-caption
                  h3 Applications cross-plateformes
                  p
                    |Utilisez vos applications où que vous soyez.
                    |sur Desktop, Windows phone, iPhone & Android
                  a(href='/product') Voir+
              li
                img(src='./images/securite.jpg')
                .flex-caption
                  h3 Conformité
                  p 
                    |Audit et contrôles des systèmes informatiques
                    |Sécurisation des informations
                    |La gestion des nouveaux parc informatique
                    |L'encadrement des pratiques et usages
                  a(href='/product') Voir+
    section
      div.col-md-4
        div#dccn-db1ee9db45
        script(src='/javascripts/pub_ms.js')
      div.col-md-8
          .col-lg-6.col-sm-12
              h3
                a.section-title Développement d'applications
              p
                | La gestion de nouveau parc informatique:PC, laptop, smartphone, tablettes, BYOD, ouvrent de nouvelles perspectives
                | sur l'utilisation d'applications innovantes et responsive.
                | Nous mettons au service de vos projets notre expertise sur le d&eacute;veloppement .Net et Web.
          .col-lg-6.col-sm-12
              h3 
                a.section-title Nos formations
              p
                | Une offre de formation basée sur une bonne ma&icirc;trise
                | des produits Microsoft, tant Online, que On-Premise.
                | Notre offre de formation comprend du d&eacute;veloppement multiplateforme: ASP.NET MVC, HTML5, AngularJS, React
                | la gestion et l&apos;administration des services O365, la suite bureautique Office.
          
    script.
        // Scrollspy fluide
        $(function () {
        $('header a').on('click', function(e) {
        e.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
        scrollTop: $(this.hash).offset().top
        }, 1000, function(){
        window.location.hash = hash;
        });
        });
        });
    // FlexSlider
    script(defer='', src='/javascripts/jquery.flexslider.js')
    script(type='text/javascript').
        $(function () {
        SyntaxHighlighter.all();
        });
        $(window).load(function () {
        $('.flexslider').flexslider({
        animation: "slide",
        start: function (slider) {
        $('body').removeClass('loading');
        }
        });
        });
    // Syntax Highlighter
    script(type='text/javascript', src='/javascripts/shCore.js')
    script(type='text/javascript', src='/javascripts/shBrushXml.js')
    script(type='text/javascript', src='/javascripts/shBrushJScript.js')
    script(type='text/javascript', src='/javascripts/shBrushCss.js')
    // Optional FlexSlider Additions
    script(src='/javascripts/jquery.easing.js')
    script(src='/javascripts/jquery.mousewheel.js')
    script(defer='', src='/javascripts/demo.js')