extends layout

block content
    section
      .services-offer
        h3.section-title
            span Nos materiels informatiques
        .row
            div.lists-materiels
                .product-essential
                    .gallery(data-productid='1').col-md-5
                        .picture
                            a(href='#', title='Lenovo X240')
                                img(alt='', width='300', heigth='316', src='/materiels/lenovoX240.jpg', title='Lenovo X240')
                    .overview.col-md-7
                            h2.product-name
                                a(href='#') Lenovo X240
                            .manufacturers Fabriquant:
                                span.value
                                    a(href='#') Lenovo
                            .short-description
                                ul
                                    li Ecran 12.5 pouces - 1280 x 720
                                    li Stockage et mémoire : disque dur 500 Go, RAM 4 Go
                                    li Intel Core i5 4210u 1.7 Ghz
                                    li Carte Graphique : Intel HD Graphics 4400
                                    li 2 port(s) USB 3.0; 1 port(s) Ethernet; 1 prise(s) jack
                            .add-info
                                .prices
                                    span.price.old-price 
                                    span.price.actual-price Prix actuel : 220 000 FCFA
                    .full-description
                        table.table
                            tr
                                td Spécifications techniques
                            tr
                                td
                                    ul
                                        li Ecran 12.5 pouces - 1280 x 720
                                        li Stockage et mémoire : disque dur 500 Go, RAM 4 Go
                                        li Intel Core i5 4210u 1.7 Ghz
                                        li Carte Graphique : Intel HD Graphics 4400
                                        li 2 port(s) USB 3.0; 1 port(s) Ethernet; 1 prise(s) jack
                            tr
                                td Transfert de données accélérées
                            tr
                                td
                                    | Transférez rapidement vos données entre le X240 et vos autres appareils grâce à l'USB 3.0 : 
                                    | le débit est jusqu'à dix fois supérieur à celui des technologies USB antérieures, 
                                    | mais le système reste compatible avec l'USB 2.0.
                            tr
                                td Processeurs Intel® Core™ de 4e génération
                            tr
                                td
                                    | Les processeurs Intel® Core™ de 4e génération offrent des performances garantissant la 
                                    | productivité de votre entreprise. Les appareils sont opérationnels instantanément et actualisés 
                                    | en permanence. Le multitâche devient rapide et sans effort pour commuter entre les applications 
                                    | ou collaborer sans fil avec des visioconférences de qualité, tout en bénéficiant du confort d'une 
                                    | autonomie prolongée. Vous êtes également protégé contre les détournements d'identité et les accès 
                                    | à votre réseau sont protégés par des fonctions de sécurité intégrées. En pratique, la seule 
                                    | chose encore plus impressionnante qu'un PC doté d'un processeur Intel Core, c'est ce que vos 
                                    | utilisateurs en feront.