extends layout

block content
    section
      .services-offer
        h3.section-title
            span Nos Produits
        .row
          .col-md-12.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs Web Média
              p
               |L'offre Web Média a pour but d’accompagner les décideurs dans leur transformation digitale.
               |L'Accessibilité aux contenus multimédia sur les différents et multiples facteurs de formes est un atout dans 
               |cette nouvelle économie numérique.
               |Adoptez les nouveaux canaux de communications et soyez au plus près des besoins de vos clients. 

          .col-md-12.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs Conception d'applications
              p
                | L'Offre conception d'applications a pour objectif d’accompagner nos clients dans la mise en œuvre de solutions à fortes valeurs ajoutées.
                | Nous adoptopns les bonnes pratiques de codages: Méthodes Agile ou Scrum.
                | Nous mettons à votre service notre expérience dans le développement d'applications .Net mais aussi dans les technologies
                | telles que  ASP.Net MVC, AngularJS, nodeJS, ReactJS, et Ionic.
              
          .col-md-12.service-box.service-icon-left-more
            .service-content
                h4.nav-tabs Formations
                p
                 | L'offre de formations d'entreprise vous accompagne dans la montée en compétences de vos employés.
                 | Avec cette offre, nous souhaitons vous apporter des compétences techniques et opérationelles qui vous assuront une meilleure 
                 | gestion de vos ressources durant vos différents projets.

          