extends layout

block content
    section
      .services-offer
        h3.section-title
            span Nos Produits
        .row
          .col-md-12.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs Web Média
              p
               |L'offre Web Média a pour but d’accompagner les décideurs dans leur transformation digitale.
               |L'Accessibilité aux contenus multimédia sur différents facteurs de formes est un atout dans la consumerisation des apprareils personnels en entreprises. Ainsi nous vous garantissons une économie d'échelle sur vos dépenses en matériels informatiques tout en vous assurant une sécurisation optimale de vos données.  
              span
                img(src="/images/webmedia.png")
          .col-md-12.service-box.service-icon-left-more
            .service-content
              h4.nav-tabs Big Data
              p
                |L'Offre de Big Data a pour objectif d’accompagner nos clients dans la mise en œuvre de solutions décisionnelles à fortes valeurs ajoutées
                |centrées sur leurs richesses : leurs données métiers :
                |Qualification de données
                |Consolidation
                |Centralisation
                |Expansion
                |Analyse
                |Présentation
                |Diffusion
                |Comprendre les enjeux des Directions générales, DAF, DSI, Directions métiers mais également des équipes opérationnelles, nous permet d’être au plus près de nos clients et de répondre à leurs besoins en leur fournissant de meilleurs outils d’analyse de leurs activités.
                |L’offre s’articule autour de 3 axes en corrélation avec une maturité décisionnelle inhérente à la mise en œuvre de telles solutions.          
              span
                img(src="/images/big-data.png")
          .col-md-12.service-box.service-icon-left-more
            .service-content
                h4.nav-tabs Formations
                p
                 |L'offre de formations d'entreprise vous accompagne dans la montée en compétences de vos employés.
                 |Avec cette offre, nous souhaitons vous apporter des compétences techniques et opérationelles qui vous assuront une meilleure gestion de vos ressources durant vos différents projets.
            span
                img(src="/images/formation.jpg")
          